.divsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

#source {
  width: 150px;
  height: 150px;
  background-color: yellow;
  color: black;
  cursor: move;
  text-align: center;
  padding-top: 20px;
}

#target {
  width: 300px;
  height: 300px;
  border-radius: 20%;
  background-color: blue;
  padding: 5px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

/********   tablet   *******/
@media only screen and (min-width: 500px) {
  .divsContainer {
    flex-direction: row;
    gap: 40px;
  }
}
