/***** svg & Iframe *****/

.iframeDiv {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 4px;
  margin: 0 auto;
}

iframe {
  height: 200px;
  width: 100%;
  border: 3px solid blue;
}

/********   tablet   *******/
@media only screen and (min-width: 768px) {
  .iframeDiv {
    flex-direction: row;
    justify-content: space-around;
  }

  iframe {
    width: 48%;
  }
}
