/*********** responsiveDivs ********/
.responsiveDivs {
  overflow: auto;
}

.div1,
.div2,
.div3 {
  float: left;
  width: 100%;
  padding: 4px;
}

.innerDiv {
  background-color: #8dd0f9;
  border-radius: 4px;
  padding: 8px;
}

.innerDiv2 {
  overflow: auto;
}

.innerDiv2 p,
.innerDiv2 img {
  margin-top: 6px;
  margin-right: 6px;
}
.innerDiv2 img {
  float: left;
  border-radius: 4px;
  overflow: hidden;
}

/****** dropdawn menu ******/
.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px 0;
}

.dropbtn {
  height: 50px;
  min-width: 140px;
  background-color: #1487bd;
  border: 1px solid #d4ecff;
  border-radius: 4px;
  color: white;
  /* font-size: 14px; */

  padding: 14px;
  transition: 500ms;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #00467d;
}

.linksListItem {
  margin-top: 6px;
  margin-left: 6px;
}

.dropbtn,
.linksListItem a,
summary {
  font-size: 14px;
}

/* summary {
  font-size: 16px;
} */

/********   tablet-500   *******/
@media only screen and (min-width: 500px) {
  .div1 {
    width: 36%;
  }
  .div2 {
    width: 64%;
  }
}

/*********  desktop  ********/
@media only screen and (min-width: 800px) {
  .div1 {
    width: 30%;
  }
  .div2 {
    width: 46%;
  }
  .div3 {
    width: 20%;
  }

  .dropdown-content {
    min-width: 300px;
  }
  .dropbtn {
    font-size: 22px;
  }

  .linksListItem a p {
    font-size: 28px;
  }

  summary {
    font-size: 24px;
  }
}
