#source {
  width: 150px;
  height: 150px;
  background-color: yellow;
  color: black;
  cursor: move;
  text-align: center;
}

#target {
  width: 250px;
  height: 250px;
  background-color: blue;
  padding: 5px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}
